.overview {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000000;

  height: 300px;

  gap: 100px;
}

.overview-experience {
  background-color: #c8c8c8;
  margin: 20px;
  width: 400px;
  height: 130px;

  border-radius: 20px;

  text-align: center;
}

.overview-project {
  background-color: #f2f2f2;
  margin: 20px;
  width: 400px;
  height: 130px;

  color: #4168cc;
  border-radius: 20px;
  text-align: center;
}

.year-exp {
  font-size: 50px;
  margin: 0;
  padding-top: 10px;
}

.complete-project {
  font-size: 50px;
  margin: 0;
  padding-top: 10px;
}
