@use "../font.scss";
@use "../style.scss";

#about-me {
  background-color: #212c4a;
  position: relative;
  padding: style.$padding;

  h1 {
    margin: 0;
  }

  p {
    font-size: font.$font-size;
  }
}
